
@{
    ViewData["Title"] = "Post";
}

<h2>Post</h2>

<form method="post" asp-controller="Post" asp-action="Index">
    <table style="width: 400px;">
        <tr>
            <td style="width: 100px;">Message</td>
            <td>
                <input asp-for="message" name="message" style="width: 100%; margin: 1px;" />
            </td>
        </tr>
        <tr>
            <td style="width: 100px;">Tags</td>
            <td>
                <input asp-for="message" name="tags" style="width: 100%; margin: 1px;" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;"><input type="submit" value="Create" /></td>
        </tr>
    </table>
</form>
