@model Blog.Api.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Blog";
}

<h2>Blog</h2>
<p>
    <a href="~/Post">Create</a>
</p>
<p>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 20%">Login</th>
                <th style="width: 80%">Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>@post.UserId</td>
                    <td>@post.Message</td>
                </tr>
            }
        </tbody>
    </table>
</p>