@model Blog.Service.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Blog";
}

<h2>Blog</h2>
<p>
    <a href="~/Home">Refresh</a>
    <a href="~/Post">Create</a>
    <a href="~/Search">Search</a>
</p>
<p>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 20%">Username</th>
                <th style="width: 40%">Message</th>
                <th style="width: 40%">Tags</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.Posts)
            {
            <tr>
                <td>@post.Username</td>
                <td>@post.Message</td>
                <td>
                    @if (post.Tags != null)
                    {
                        @foreach (string tag in post.Tags)
                        {
                            @tag;
                            @Html.Raw("&nbsp;");
                        }
                    }

                </td>
            </tr>
            }
        </tbody>
    </table>
</p>